@import "Header";
@import "WeatherForm";
@import "Container";
@import "WeatherPanels";


body{
  background-color:  #ffffff;
}
.App {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}